#img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    
}
.text{
    color: white;
}
#profile{
    margin-bottom: 40px;
}
html {
    scroll-behavior: smooth;
    height: 100%;
  }
  .text{
      animation: fadeOut;
      animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }
.transitions{
    animation: fadeIn;
    animation-duration: 3s;
}
.pro1{
    animation:fadeInLeft;
    animation-duration: 2s;
}
.pro2{
    animation:fadeInRight;
    animation-duration: 2s;
}
.next{
    animation:bounce;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
body{
    min-height: 100%;
  
}
.name{
    display: flex;
    align-items: center;
    animation: fadeIn;
    animation-duration:2s;
}
